<a href="https://colab.research.google.com/github/artisticdrake/codefun/blob/main/mycsv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:

import pandas as pd
df=pd.read_csv(r'/mycsv.csv')

In [8]:
df.head(10)

   Income Recreation         Job   Status Age_Group Home_Owner      Risk
0  medium     skiing      design   single  twenties         no  highrisk
1    high       golf     trading  married   forties        yes   lowrisk
2     low   speedway   transport  married  thirties        yes   medrisk
3  medium   football     banking   single  thirties        yes   lowrisk
4    high     flying       media  married   fifties        yes  highrisk
5     low   football    security   single  twenties         no   medrisk
6  medium       golf       media   single  thirties        yes   medrisk
7  medium       golf   transport  married   forties        yes   lowrisk
8    high     skiing     banking   single  thirties        yes  highrisk
9     low       golf  unemployed  married   forties        yes  highrisk

In [2]:
l=[]
for i in df:
  #print(i)
  l.append(i)
l

NameError: ignored

['medrisk', 'lowrisk', 'highrisk']

In [1]:
while(True):
  ch=int(input("Choose 1. Conditional or 2. Unconditional\n"))
  if(ch==2):
    print(l)
    id=int(input("Choose the index of the following attributes\n"))
    al=[]
    for j in range(len(df)):
      al.append(df.iloc[j,id])
    al=list(set(al))
    print(al)

Choose 1. Conditional or 2. Unconditional
2

NameError: ignored

In [9]:
def uncon():
    c=0
    for i in range(len(df)):
        if(df.iloc[i,1]=='golf'):
            c+=1
    #print(c)
    pa=c/len(df)
    print("Unconditional probability of golf is: ",pa)
uncon()
def con():
    c,u=0,0
    for i in range(len(df)):
        if(df.iloc[i,6]=='medrisk'):
            c+=1 
    for i in range(len(df)):
        if(df.iloc[i,3]=='single'):
            u+=1
    pb1=c/len(df)
    pa1=u/len(df)
    pab=pa1*pb1
    #print(pab)
    pagb=(pab)/pb1
    print("\nThe Conditional probability of single given medrisk is:",pagb)
con()

Unconditional probability of golf is:  0.4

The Conditional probability of single given medrisk is: 0.5